DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
SESSION_SECRET="local-session-s3cret"
DISCORD_CLIENT_ID="1054652766909386753"
DISCORD_CLIENT_SECRET="discord-client-s3cret"
BASE_URL="localhost:3000"
